VideotekaClient/Connected Services/VideoReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VideotekaService.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VideotekaService.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfZanr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zanr" nillable="true" type="tns:Zanr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZanr" nillable="true" type="tns:ArrayOfZanr" />
  <xs:complexType name="Zanr">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zanr" nillable="true" type="tns:Zanr" />
  <xs:complexType name="ArrayOfFilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Film" nillable="true" type="tns:Film" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilm" nillable="true" type="tns:ArrayOfFilm" />
  <xs:complexType name="Film">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilmZanr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="godina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idFilm" type="xs:int" />
      <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zanrId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film" nillable="true" type="tns:Film" />
  <xs:complexType name="ArrayOfKlijent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Klijent" nillable="true" type="tns:Klijent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKlijent" nillable="true" type="tns:ArrayOfKlijent" />
  <xs:complexType name="Klijent">
    <xs:sequence>
      <xs:element minOccurs="0" name="adresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prezime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Klijent" nillable="true" type="tns:Klijent" />
  <xs:complexType name="ArrayOfPosudba">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Posudba" nillable="true" type="tns:Posudba" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPosudba" nillable="true" type="tns:ArrayOfPosudba" />
  <xs:complexType name="Posudba">
    <xs:sequence>
      <xs:element minOccurs="0" name="Medij" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NazivFilma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datumPosudbe" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datumPovrata" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idFilm" type="xs:int" />
      <xs:element minOccurs="0" name="idKorisnik" type="xs:int" />
      <xs:element minOccurs="0" name="idTipmedija" type="xs:int" />
      <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prezime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Posudba" nillable="true" type="tns:Posudba" />
  <xs:complexType name="ArrayOfTipMedija">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipMedija" nillable="true" type="tns:TipMedija" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipMedija" nillable="true" type="tns:ArrayOfTipMedija" />
  <xs:complexType name="TipMedija">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipMedija" nillable="true" type="tns:TipMedija" />
</xs:schema>